os: osx

osx_image: xcode10

script:
  - open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app
  - xcrun simctl io booted recordVideo test.mp4&
  - sleep 10 
  - killall -SIGINT simctl
  - ls